USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 04/22/2013 14:25:27 ******/
CREATE DATABASE [LibraryDB] ON  PRIMARY 
( NAME = N'library', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\library.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'library_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\library_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 04/22/2013 14:25:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [varchar](20) NOT NULL,
	[Address] [varchar](50) NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[NIRC] [varchar](10) NOT NULL,
	[Email] [varchar](20) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON
INSERT [dbo].[Members] ([MemberID], [MemberName], [Address], [PhoneNumber], [NIRC], [Email]) VALUES (1, N'Abdullah', N'clementi singapore 75', N'77793773', N'1234', N'abdul@gmail.com')
INSERT [dbo].[Members] ([MemberID], [MemberName], [Address], [PhoneNumber], [NIRC], [Email]) VALUES (2, N'Benson', N'jurong singapore 74', N'66577378', N'1235', N'bensy@gmail.com')
INSERT [dbo].[Members] ([MemberID], [MemberName], [Address], [PhoneNumber], [NIRC], [Email]) VALUES (3, N'charlie', N'admiralty singapore', N'68876664', N'1236', N'charly@gmail.com')
SET IDENTITY_INSERT [dbo].[Members] OFF
/****** Object:  Table [dbo].[BooksModels]    Script Date: 04/22/2013 14:25:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BooksModels](
	[BookModelId] [int] IDENTITY(1,1) NOT NULL,
	[BookTitle] [varchar](20) NOT NULL,
	[BookDescription] [varchar](50) NULL,
	[Author] [varchar](15) NOT NULL,
	[PublisherName] [varchar](15) NULL,
	[PublishDate] [date] NULL,
	[BookCategory] [varchar](20) NOT NULL,
	[MaxAvailableDayToRent] [smallint] NULL,
	[RentalPricePerDay] [numeric](18, 0) NULL,
 CONSTRAINT [PK_BooksModels] PRIMARY KEY CLUSTERED 
(
	[BookModelId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BooksModels] ON
INSERT [dbo].[BooksModels] ([BookModelId], [BookTitle], [BookDescription], [Author], [PublisherName], [PublishDate], [BookCategory], [MaxAvailableDayToRent], [RentalPricePerDay]) VALUES (1, N'The Boy', N'Good story about a boy who struggle for life', N'Benson gorge', N'yijum', CAST(0xC61A0B00 AS Date), N'story', 2, NULL)
INSERT [dbo].[BooksModels] ([BookModelId], [BookTitle], [BookDescription], [Author], [PublisherName], [PublishDate], [BookCategory], [MaxAvailableDayToRent], [RentalPricePerDay]) VALUES (2, N'Dead until Dark', N'A horror story. Night mare', N'Neha', N'sushi', CAST(0x27220B00 AS Date), N'story', 5, NULL)
INSERT [dbo].[BooksModels] ([BookModelId], [BookTitle], [BookDescription], [Author], [PublisherName], [PublishDate], [BookCategory], [MaxAvailableDayToRent], [RentalPricePerDay]) VALUES (3, N'Tom n Jerry', N'Nice Cartoon character', N'Diana', N'hossim', CAST(0xBC920A00 AS Date), N'comedy', 6, NULL)
SET IDENTITY_INSERT [dbo].[BooksModels] OFF
/****** Object:  Table [dbo].[Books]    Script Date: 04/22/2013 14:25:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookModelID] [int] NOT NULL,
	[BookStatus] [smallint] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON
INSERT [dbo].[Books] ([BookID], [BookModelID], [BookStatus]) VALUES (1, 1, 0)
INSERT [dbo].[Books] ([BookID], [BookModelID], [BookStatus]) VALUES (2, 1, 1)
INSERT [dbo].[Books] ([BookID], [BookModelID], [BookStatus]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[Books] OFF
/****** Object:  Table [dbo].[LibTrans]    Script Date: 04/22/2013 14:25:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibTrans](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[LendDate] [date] NOT NULL,
	[ReturnDate] [date] NOT NULL,
	[ChargeAmount] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_LibTrans] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LibTrans] ON
INSERT [dbo].[LibTrans] ([TransactionID], [BookID], [MemberID], [LendDate], [ReturnDate], [ChargeAmount]) VALUES (1, 1, 1, CAST(0x97190B00 AS Date), CAST(0xB5190B00 AS Date), CAST(14 AS Numeric(18, 0)))
INSERT [dbo].[LibTrans] ([TransactionID], [BookID], [MemberID], [LendDate], [ReturnDate], [ChargeAmount]) VALUES (2, 2, 6, CAST(0xF6360B00 AS Date), CAST(0x14370B00 AS Date), CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[LibTrans] ([TransactionID], [BookID], [MemberID], [LendDate], [ReturnDate], [ChargeAmount]) VALUES (3, 3, 3, CAST(0x21360B00 AS Date), CAST(0x3F360B00 AS Date), CAST(8 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[LibTrans] OFF
/****** Object:  ForeignKey [FK_Books_BooksModels]    Script Date: 04/22/2013 14:25:29 ******/
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_BooksModels] FOREIGN KEY([BookModelID])
REFERENCES [dbo].[BooksModels] ([BookModelId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_BooksModels]
GO
/****** Object:  ForeignKey [FK_LibTrans_Books]    Script Date: 04/22/2013 14:25:29 ******/
ALTER TABLE [dbo].[LibTrans]  WITH NOCHECK ADD  CONSTRAINT [FK_LibTrans_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[LibTrans] CHECK CONSTRAINT [FK_LibTrans_Books]
GO
/****** Object:  ForeignKey [FK_LibTrans_Members]    Script Date: 04/22/2013 14:25:29 ******/
ALTER TABLE [dbo].[LibTrans]  WITH NOCHECK ADD  CONSTRAINT [FK_LibTrans_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[LibTrans] CHECK CONSTRAINT [FK_LibTrans_Members]
GO
