<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LibraryDBEntities" connectionString="metadata=res://*/Team6A_LibraryDBEntity.csdl|res://*/Team6A_LibraryDBEntity.ssdl|res://*/Team6A_LibraryDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YEMAW\SQLEXPRESS;Initial Catalog=Team6A_LibraryDB;Persist Security Info=True;User ID=sa;Password=sapassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="Team6A_LibraryManagementSystem.Properties.Settings.Team6A_LibraryDBConnectionString" connectionString="Data Source=YEMAW\SQLEXPRESS;Initial Catalog=Team6A_LibraryDB;Persist Security Info=True;User ID=sa;Password=sapassword" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
