<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LibraryDBEntities" connectionString="metadata=res://*/Team6A_LibraryDBEntity.csdl|res://*/Team6A_LibraryDBEntity.ssdl|res://*/Team6A_LibraryDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YEMAW\SQLEXPRESS;Initial Catalog=Team6A_LibraryDB;Persist Security Info=True;User ID=sa;Password=sapassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>