<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>


    <add name="LibraryDBEntities" connectionString="metadata=res://*/LibraryEntity.csdl|res://*/LibraryEntity.ssdl|res://*/LibraryEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YEMAW\SQLEXPRESS;Initial Catalog=LibraryDB;Persist Security Info=True;User ID=sa;Password=sapassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>